
body {
  margin: 0;
  font-family: Arial;
  background: #0b0014;
  color: white;
}

.screen {
  display: none;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.screen.active {
  display: flex;
}

.menu, .box {
  width: 420px;
  background: #120022;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #a855f7;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
}

button {
  background: #a855f7;
  color: white;
  cursor: pointer;
}

.tab {
  display: none;
}

.tab.active {
  display: block;
}

.linkCard {
  display: block;
  padding: 10px;
  margin: 8px 0;
  background: #1a0030;
  border-radius: 8px;
  color: white;
  text-decoration: none;
}

.popup.hidden {
  display: none;
}

.popup {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupBox {
  background: #120022;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}
