body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #050505;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* LOGIN BOX */
.box {
  background: #000;
  padding: 30px;
  border-radius: 15px;
  width: 320px;
  text-align: center;

  border: 2px solid #00f0ff;
  box-shadow: 0 0 15px #00f0ff, 0 0 40px rgba(0,240,255,0.4);
}

/* INPUT */
input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #111;
  color: white;
}

/* BUTTON */
button {
  margin-top: 10px;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 8px;
  background: #00f0ff;
  color: black;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 10px #00f0ff;
}

button:hover {
  background: #00c2cc;
}

/* MENU */
.menu {
  width: 500px;
  background: #000;
  border: 2px solid #00f0ff;
  box-shadow: 0 0 20px #00f0ff;
  border-radius: 15px;
  padding: 20px;
}

/* TABS */
.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.tabs button {
  width: 48%;
}

/* TAB CONTENT */
.tab {
  display: none;
}

.tab.active {
  display: block;
}

/* SCROLL */
.scroll {
  max-height: 250px;
  overflow-y: auto;
}

/* LINKS */
a {
  display: block;
  margin: 10px 0;
  color: #00f0ff;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: white;
}

.hidden {
  display: none;
}

#error {
  color: red;
  margin-top: 10px;
}
